[submodule "MPVKit"]
	path = MPVKit
	url = https://github.com/tapframe/MPVNuvio.git
[submodule "libass-android"]
	path = libass-android
	url = https://github.com/peerless2012/libass-android.git
[submodule "mediamp"]
	path = mediamp
	url = https://github.com/tapframe/mediampnuvio.git